In [1]:
import pandas as pd
import numpy as np

In [2]:
import tensorflow as tf
from tensorflow import keras

In [3]:
multi_class = pd.read_csv("contracts-train.csv")

In [4]:
multi_class.shape

(160000, 22)

In [5]:
multi_class.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160000 entries, 0 to 159999
Data columns (total 22 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   docid                          160000 non-null  int64
 1   publication_date               160000 non-null  object
 2   contract_type                  160000 non-null  object
 3   nature_of_contract             159985 non-null  object
 4   country_code                   159999 non-null  object
 5   country_name                   160000 non-null  object
 6   sector                         160000 non-null  object
 7   value                          84856 non-null   float64
 8   title                          160000 non-null  object
 9   description                    160000 non-null  object
 10  awarding_authority             160000 non-null  object
 11  complete_entry                 160000 non-null  object
 12  General                        160000 non-null  bool
 13  Defence                        160000 non-null  bool
 14  Education & Culture            160000 non-null  bool
 15  Energy & Environment           160000 non-null  bool
 16  Health & Care                  160000 non-null  bool
 17  Infrastructure & Construction  160000 non-null  bool
 18  Professional Services          160000 non-null  bool
 19  Technology & Communications    160000 non-null  bool
 20  Transport & Logistics          160000 non-null  bool
 21  label                          160000 non-null  int64
dtypes: bool(9), float64(1), int64(2), object(10)
memory usage: 17.2+ MB

In [6]:
multi_class[["complete_entry","General","sector","description"]]

,complete_entry,General,sector,description
0,<b>Type of document:</b> Additional informatio...,False,public,La présente consultation porte sur la mission ...
1,<b>Type of document:</b> Contract Awards\n<b>C...,True,public,Die TK plant die Beschaffung von Intrusion Pre...
2,<b>Type of document:</b> Contract Awards\n<b>C...,True,public,"— Technisches Gebäudemanagement (TGM), BLB NRW..."
3,<b>Type of document:</b> Invitation to tender\...,False,public,The Hyde Group (THG) is looking to enter into ...
4,<b>Type of document:</b> Pre-information proce...,False,public,The Agency for Planning and Building Services ...
...,...,...,...,...
159995,<b>Type of document:</b> Invitation to tender\...,False,public,"Datorita restrictiei de 5 000 caractere, se va..."
159996,<b>Type of document:</b> Pre-information proce...,False,public,Изпълнение на независима оценка на пригодностт...
159997,<b>Type of document:</b> Invitation to tender\...,False,public,Außenreinigungsanlage für Straßenbahnen mit Wa...
159998,<b>Type of document:</b> Additional informatio...,False,public,"Acquisition de pièces détachées, entretien, ré..."
159999,<b>Type of document:</b> Contract Awards\n<b>C...,False,public,Доставка на горива и смазочни материали за нуж...

In [26]:
multi_class["complete_entry"][0]

"<b>Type of document:</b> Additional information\n<b>Country:</b> France\n<b>OJEU Ref:</b> (2020/S 066-157955/EN)\n<b>Nature of contract:</b> Service contract\n<b>Procedure:</b> Open procedure\n<b>Regulation of procurement:</b> EU - with participation by GPA countries\n<b>Type of bid required:</b> Global bid\n\nAdditional information\nServices\n\nSection I: Contracting authority\nI.1) Name and addresses \nOfficial name: Nantes Métropole\nPostal address: 2 cours du Champ de Mars\nTown: Nantes Cedex 9\nCountry: France\nEmail: estelle.talhouarn@nantesmetropole.fr\nInternet address(es): \nMain address: https://metropole.nantes.fr/\nAddress of the buyer profile: https://marchespublics.nantesmetropole.fr\n\n\nSection II: Object  \nII.1) Scope of the procurement: \nII.1.1) Title: Conseil métropolitain des acteurs de l'alimentation — mission d'accompagnement de groupe\nReference number: 2020-990\nII.1.2) Main CPV code:  \nII.1.3) Type of contract \nServices\nII.1.4) Short description: \nLa présente consultation porte sur la mission d'accompagnement du Conseil métropolitain des acteurs de l'alimentation. Il s'agit d'un marché ordinaire.\n\nSection VI: Complementary information \nVI.5) Date of dispatch of this notice: 2020-03-31\nVI.6) Original notice reference \nNotice number in the OJ S: 2020/S 052-123779\n\nSection VII: Changes \nVII.1) Information to be changed or added \nSection number: IV.2.2)\nPlace of text to be modified: Date limite de réception des offres ou des demandes de participation\n Instead of  \n Date: 2020-04-14\n Local time: 12:00\n Read  \n Date: 2020-05-11\n Local time: 12:00\nSection number: IV.2.7)\nPlace of text to be modified: Modalités d'ouverture des offres\n Instead of  \n Date: 2020-04-14\n Local time: 12:00\n Read  \n Date: 2020-05-11\n Local time: 12:00"

In [23]:
len(multi_class['country_name'].unique()) # 105 unique countries

105

In [24]:
multi_class['country_name'].unique()

array(['France', 'Germany', 'United Kingdom', 'Norway', 'Belgium',
       'Portugal', 'Spain', 'Denmark', 'Czech Republic', 'Hungary',
       'Bulgaria', 'Finland', 'Austria', 'Cyprus', 'Poland', 'Italy',
       'Slovenia', 'Nepal', 'Kyrgyzstan', 'Sweden', 'Latvia',
       'Netherlands', 'Switzerland', 'Romania', 'Republic of Ireland',
       'Iceland', 'Lithuania', 'Estonia', 'Croatia', 'Malta', 'Slovakia',
       'Greece', 'Luxembourg',
       'Macedonia - The Former Yugoslav Republic Of', 'Pakistan',
       'Serbia', 'Mali', 'Zimbabwe', 'Turkey', 'Benin',
       'Bosnia And Herzegovina', 'Egypt', 'Lebanon', 'Nicaragua',
       'Swaziland', 'Ukraine', 'Armenia', 'Moldova - Republic Of',
       'Tajikistan', 'Peru', 'Belarus', 'Thailand', 'China', 'Senegal',
       'Togo', 'Namibia', 'Georgia', 'Liechtenstein', 'Djibouti', 'Kenya',
       'United States', 'Burkina Faso', 'Mauritius', 'Ethiopia',
       'Madagascar', 'Congo - The Democratic Republic Of The', 'Malawi',
       'Malaysia', 'Viet Nam', 'Gabon', 'Jamaica', 'Kosovo', 'Mongolia',
       'Tunisia', 'Morocco', 'Cape Verde', 'Cameroon', 'Mozambique',
       'Palestinian Territory - Occupied', 'Korea - Republic Of', 'Fiji',
       "Lao People's Democratic Republic", 'India', 'Montenegro',
       'Liberia', 'Hong Kong', 'Ghana', 'Uzbekistan', 'Kazakhstan',
       'Paraguay', 'Nigeria', 'Uganda', 'Israel', 'Costa Rica',
       'Honduras', 'Chad', 'Philippines', 'Iran - Islamic Republic Of',
       'Afghanistan', 'Gambia', 'Brazil', 'Jordan', '&Aring;land Islands',
       'Albania', 'Trinidad And Tobago'], dtype=object)

In [6]:
multi_class['label'].unique()

array([      100, 100000110, 100001000,      1000, 100001001, 100000000,
          100000, 100000010,   1000000,         1,        10, 100001111,
       100011011,     10000, 100101000, 100100000,      1100,     10001,
       110001000,    101000,    100100, 100011000,  10000001, 100000001,
       110010001,  10100000, 110000000,   1000100, 100010000, 100000100,
        10000100,      1001,     10100,   1010000,    101001,    111001,
          101010,     10010,  10000000, 101001101,   1010100,      1010,
             110,  10101000,   1100000,    100001,        11, 101001000,
       100010001,   1001001, 101000110, 110001010,   1000110, 100100001,
         1001000,     11000,    101101, 100001100, 100101101,  11100000,
           11100, 100000011, 101100000, 101000000,   1001010,   1000010,
       110011010,      1011, 100001101,  11000000, 101000100, 100001011,
           10110, 100001010,    101100,       111,     11010,   1011000,
       101000010,  10011000, 111101100, 100111000,      1110, 101001010,
       101011000, 100000101,     11001, 110010011,   1000001, 100101001,
       101111011, 100001110,    111101,   1001100, 100010110,  10000010,
       100011010,   1101000,  10011001,  10010000, 100010100, 110010000,
       101010000,  10011101, 100110000,  10010100,  10001000,  10001100,
             101,   1000101, 110000110,    110000, 100100100,    100010,
       100010101, 100010011, 101001110,  11000100, 100011001, 111111101,
          111010, 100111010,      1111,    111000, 100010010, 110000001,
       100100101, 101011010, 111000000, 110101000,    101011,  10001001,
        10010010,  10101001, 100101010,   1001110,   1010101, 101000101,
       100111101,     10011,  10000110, 111011110, 100110001, 111001010,
       101101000,  11010000,  11001100,   1111001, 100011110, 110001100,
       100100110, 110001001, 100111001, 101010100, 110010010,     11110,
        10100100, 110000010, 110011011,  10010011, 100010111,   1100100,
       100011101,  10010110, 110000111,   1010001, 111000010,   1110000,
            1101, 101010001, 110001111, 101101111, 110011000, 100110010,
        10001011, 110010110, 111000100, 101011100, 101101001, 101001100,
       101011011, 101001001, 101110000, 111101001, 110101111, 100011100,
         1011100, 111010000,  11101000, 110011111, 110101001, 100100011,
           10101, 101110001,  10000011,   1010110, 110001110,  10001010,
         1100001,   1011001, 100101100,   1101100,  10011100, 101011110,
       100000111, 110000100, 110001011,  11100100, 111111111,  11010100,
       101000001, 101001011, 110111010, 101111010,  10101110, 111010100,
       101110100, 110011110,   1110010, 110101100, 100111100,   1111100,
       101111000,  11001000, 101010101, 100111011,  11111101,  10100001,
       101010111,   1001101, 110110000, 100110100,     11101, 110111000,
       111011111, 101101100,   1001011, 111001011, 100011111, 101111101,
        10010001,  10101100, 101010010,  10001111,  10000101, 100100010,
         1000111, 101100100,    110100,    111100,  11101110, 101100001,
       111111001,  11100101,    111110, 110011101, 101111001,   1101001,
        11111100, 111111011, 111000001, 110011001,   1110100,  11110001,
         1000011, 110100000,   1100101,  11100001,  11010101,  10000111,
       100110111, 110000011,  11000001,   1010010, 111001001,  11001011,
       101111111,   1010111,    110101,  11001110, 111011001, 110000101,
       101100101,    100110,   1100110, 111010111, 111011101, 110101011,
       111000111, 110111001, 101010110,    110001, 101101101, 111101000,
       101000011,  11101100, 100111110, 101100110,   1011110, 101001111,
       110111110,  10011110,  11010110, 101101010, 100111111, 101101110,
        10001101, 100101011, 101011001,  10001110,  11010001,   1010011,
       111001101, 100110011, 101011101,  11000101,     11011, 100101111,
          110011, 100100111,  11001111,    110010, 110111111,  11000010,
       111001111,  10111110,  10010101, 101000111,  11001001,   1111000,
       110111011,    100101,   1011010, 110101101], dtype=int64)

In [7]:
len(multi_class['label'].unique())

334

In [7]:
from tensorflow.keras.preprocessing.text import Tokenizer

In [8]:
tokenizer = Tokenizer(num_words = 1000000)

In [9]:
tokenizer.fit_on_texts(multi_class['title'])

In [10]:
word_index = tokenizer.word_index

In [38]:
type(word_index)

dict

In [19]:
vocab = list(word_index.keys())

In [11]:
sequences = tokenizer.texts_to_sequences(multi_class['title'])

In [22]:
print(sequences[0:1]),  print(vocab[1])

[[4, 332, 658, 50, 1]]
and

(None, None)

In [34]:
len(sequences), len(word_index)

(160000, 23333)

In [24]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [25]:
padded = pad_sequences(sequences, padding = 'post')

In [27]:
print(padded[0])

[  4 332 658  50   1   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0]

In [28]:
padded.shape

(160000, 57)

In [ ]:
training_sentences = sentences[0:training_size]
testing_sentences = sentences[training_size:]
training_labels = labels[0:training_size]
testing_labels = labels[training_size:]

In [ ]:
training_sentences = sentences[0:training_size]
testing_sentences = sentences[training_size:]
training_labels = labels[0:training_size]
testing_labels = labels[training_size:]

tokenizer = Tokenizer(num_words=vocab_size, oov_token=oov_tok)
tokenizer.fit_on_texts(training_sentences)

word_index = tokenizer.word_index

training_sequences = tokenizer.texts_to_sequences(training_sentences)
training_padded = pad_sequences(training_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

testing_sequences = tokenizer.texts_to_sequences(testing_sentences)
testing_padded = pad_sequences(testing_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

training_padded = np.array(training_padded)
training_labels = np.array(training_labels)
testing_padded = np.array(testing_padded)
testing_labels = np.array(testing_labels)

In [ ]:
training_padded = np.array(training_padded)
training_labels = np.array(training_labels)
testing_padded = np.array(testing_padded)
testing_labels = np.array(testing_labels)